<h3>Header</h3>
<!-- Mostrar el contexto completo -->
<!-- <pre><%= JSON.stringify(test, null, 2) %></pre> -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
