<div style="border: 5px solid #f6ab0c;">
    <h3>Header</h3>
    <!-- Mostrar el contexto completo -->
    <!-- <pre><%= JSON.stringify(test, null, 2) %></pre> -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/two-partials">Two-partials</a></li>
        </ul>
    </nav>
</div>